{% extends "szablon.html" %}

{% block tytul %}Główna{% endblock %}

{% block zawartosc %}
<h1>Wypełnij ankiete</h1>

Formularz:
<form method="post" novalidate id="form">
    {% csrf_token %}
    <button onclick="myFunction(); return false;">Click Me</button>

<div id="myDIV">
  This is my DIV element.
<!--    <label>-->
<!--  <input type="radio" name="test" value="small" checked>-->
<!--  <img src="https://via.placeholder.com/40x60/0bf/fff&text=A">-->
<!--</label>-->

<!--<label>-->
<!--  <input type="radio" name="test" value="big">-->
<!--  <img src="https://via.placeholder.com/40x60/b0f/fff&text=B">-->
<!--</label>-->
    <ul id="0" class="main">
        {{ form0.as_ul }}
    </ul>
</div>
    <ul id="1" class="main">
        <h2 class="naglowek">Historia szczepień<br>
            <span>Nie dotyczy szczepienia na COVID - 19</span>
        </h2>
        {{ form1.as_ul }}
        <div class="recBtn" onclick="page(2); return false;"><span class="btTxt">Następna</span></div>
    </ul>
    <ul id="2"class="main">
        {{ form2.as_ul }}
        <div class="recBtn" onclick="page(1); return false;"><span class="btTxt">Cofnij</span></div>
        <div class="recBtn" onclick="page(2); return false;"><span class="btTxt">Następna</span></div>
    </ul>
    <ul id="3"class="main">
        {{ form3.as_ul }}
    </ul>
    <ul id="4"class="main">
        {{ form4.as_ul }}
    </ul>
    <ul id="5"class="main">
        {{ form5.as_ul }}
    </ul>
    <input type="submit" value="Wyślij">
    <input type="reset" value="Resetuj">
</form>

<script>
    function page(nr){
        var x1 = document.getElementById("1");

        const table = document.getElementById('form');
        const cells = table.getElementsByTagName('ul');

        for (let ul of cells) {
             // if (ul.style.display === "none") {
             //    ul.style.display = "block";
             //  } else {
             //    ul.style.display = "none";
             //  }
             ul.style.display = "none";
          let status = ul.getAttribute('');
             console.log(ul);
          // if (status === 'open') {
            // Grab the data
          // }
        }
        const ulNr = document.getElementById(nr);
        ulNr.style.display = "block";

    }
    // show pagee nuber (4)
    function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}</script>

{% endblock %}