{% extends "szablon.html" %}

{% block tytul %}Główna{% endblock %}

{% block zawartosc %}
<h1>Wypełnij ankiete</h1>

Formularz:
<form method="post" novalidate>
    {% csrf_token %}
    <button onclick="myFunction(); return false;">Click Me</button>

<div id="myDIV">
  This is my DIV element.

    <ul id="0">
        {{ form0.as_ul }}
    </ul>
</div>
    <ul id="1">
        {{ form1.as_ul }}
    </ul>
    <ul id="2">
        {{ form2.as_ul }}
    </ul>
    <ul id="3">
        {{ form3.as_ul }}
    </ul>
    <ul id="4">
        {{ form4.as_ul }}
    </ul>
    <ul id="5">
        {{ form5.as_ul }}
    </ul>
    <input type="submit" value="Wyślij">
    <input type="reset" value="Resetuj">
</form>

<script>
    // show pagee nuber (4)
    function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}</script>

{% endblock %}